<% layout('admin') -%>
  <div class="hipsum">
    <div class="jumbotron">
      <input type="file" id="selector" single>
      <button onclick="upload()">Upload</button>

      <div id="status">Subir fotos para el carrousel, preferencia que sean de 1900x1080</div>
    </div>
    <div class="jumbotron">
      <div class="row">
        <%for (var i = 0; i < fotos.length; i++) {%>
        <div class="col-lg-4 mb-2">
          <div class="card h-100 text-center">
            <img class="card-img-top" src="<%= fotos[i].url %>" alt="">
            <div class="card-body">
              <p class="card-text"><%= fotos[i].nombre %></p>
            </div>
            <div class="card-footer">
              <a href="/admin/home/delete?key=<%= fotos[i].nombre %>" class="btn btn-primary">Eliminar</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

<script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript">

function upload() {
  [$('#selector')[0].files].forEach(fileObj => {
    var file = fileObj[0]
    console.log(file);
    // Retrieve a URL from our server.
    retrieveNewURL(file, url => {
      // Upload the file to the server.
      uploadFile(file, url)
    })
  })
}

// Request to our Node.js server for an upload URL.
function retrieveNewURL(file, cb) {
  $.get(`/admin/home/presignedUrl?name=${file.name}`, (url) => {
    console.log(url);
    cb(url.url)
  })
}

// Use XMLHttpRequest to upload the file to S3.
function uploadFile(file, url) {
  $.ajax({
      type: 'PUT',
      url: url,
      contentType: 'binary/octet-stream',
      processData: false,
      data: file
    })
    .done(function() {
      alert('File uploaded');
      window.location.reload();
    })
    .fail(function() {
      alert('File NOT uploaded');
      console.log( arguments);
    });
    return false;
}

</script>
