<%- layout('admin') -%>
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6 mb-6">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="images/Menu admin/Servicio3.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Categorias de Portafolio</h4>
            <h6 class="card-subtitle mb-2 text-muted">Crea tus categorias</h6>
            <p class="card-text">Crea tus propias categorias para tu portafolio</p>
          </div>
          <div class="card-footer">
            <a href="/admin/servicios/categorias" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-6">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="images/Menu admin/Servicio3.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Fotos de Portafolio</h4>
            <h6 class="card-subtitle mb-2 text-muted">Agrega tus fotos</h6>
            <p class="card-text">Agrega las fotos de cada categoria que hayas creado.</p>
          </div>
          <div class="card-footer">
            <a href="/admin/servicios/fotos-categorias" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
