<%- layout('admin') -%>
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6 mb-6">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="" alt="">
          <div class="card-body">
            <h4 class="card-title">Configuracion de Paquetes</h4>
            <h6 class="card-subtitle mb-2 text-muted">Administrar paquetes</h6>
            <p class="card-text">Dentro del siguiente apartado se podran observar los paquetes que se encuentran actualmente disponibles.</p>
          </div>
          <div class="card-footer">
            <a href="/admin/servicios/paquetes" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-6">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="images/Menu admin/Servicio3.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Configuracion de Categorias</h4>
            <h6 class="card-subtitle mb-2 text-muted">Tipos de categorias</h6>
            <p class="card-text">En esta seccion se podran observar las categorias que se encuentran visibles en la seccino de portafolio.</p>
          </div>
          <div class="card-footer">
            <a href="/admin/servicios/categorias" class="btn btn-primary">Ingresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
