<!-- sidebar menu area start -->
    <div class="sidebar-menu">
      <div class="sidebar-header">
        <div class="logo">
          <a href="#"
            ><img src="assets/img/logo-img/Az-WorksLogo.png" alt="logo"
          /></a>
        </div>
      </div>
      <div class="main-menu">
        <div class="menu-inner">
          <nav>
            <ul class="metismenu" id="menu">
              <li>
                <a href="javascript:void(0)" aria-expanded="true"
                  ><i class="ti-dashboard"></i><span>Vistas Principales</span></a
                >
                <ul class="collapse">
                  <li><a href="/admin/landing">Pagina Principal</a></li>
                  <li><a href="/admin/gallery">galeria</a></li>
                  <li><a href="/admin/services">servicios</a></li>
                </ul>
              </li>
              <li>
                <a href="javascript:void(0)" aria-expanded="true"
                  ><i class="ti-user"></i><span>Clientes</span></a
                >
                <ul class="collapse">
                  <li><a href="/admin/clients">Registro</a></li>
                  <li><a href="/admin/clientPhotos">Fotos</a></li>
                </ul>
              </li>
              <li>
                <a href="/admin/calendar"
                  ><i class="ti-calendar"></i><span>Calendario</span></a
                >
              </li>
              <li>
                <a href="/admin/administradores"
                  ><i class="fa fa-user-tie"></i><span>Administradores</span></a
                >
              </li>
              <!-- <li>
                <a href="javascript:void(0)" aria-expanded="true"
                  ><i class="fa fa-align-left"></i>
                  <span>Multi level menu</span></a
                >
                <ul class="collapse">
                  <li><a href="#">Item level (1)</a></li>
                  <li><a href="#">Item level (1)</a></li>
                  <li>
                    <a href="#" aria-expanded="true">Item level (1)</a>
                    <ul class="collapse">
                      <li><a href="#">Item level (2)</a></li>
                      <li><a href="#">Item level (2)</a></li>
                      <li><a href="#">Item level (2)</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Item level (1)</a></li>
                </ul>
              </li> -->
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- sidebar menu area end -->
