<div class="header">
  <a href="#" id="menu-toggle" class="">
    <i class="fa fa-bars"></i>
    <span>Menu</span>
  </a>
  <div class="logo">
    <img src="images/logoFull.png" style="height:50px;" alt="PhotomaticMX">
  </div>
</div>
<div class="sidebar">
  <ul>
    <li><a href="/admin/home"><i class="fa fa-desktop"></i><span>Principal</span></a></li>
    <li><a href="/admin/servicios"><i class="fa fa-archive"></i><span>Servicios</span></a></li>
    <li><a href="/admin/administradores"><i class="fa fa-user-tie"></i><span>Administradores</span></a></li>
    <!-- <li><a href="/admin/informacion"><i class="fa fa-file-alt"></i><span>Informacion</span></a></li>
    <li><a href="/admin/clientes"><i class="fa fa-users-cog"></i><span>Clientes</span></a></li> -->
    <li><a href="/logout"><i class="fa fa-sign-out-alt"></i><span>Cerrar Sesion</span></a></li>
</div>
