
  <!-- Footer Area Start -->
  <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div
            class="footer-content d-flex align-items-center justify-content-between"
          >
            <!-- Copywrite Text -->
            <div class="copywrite-text">
              <p>Copyright &copy; 2019 Derechos Reservados</p>
            </div>
            <!-- Social Info -->
            <div class="social-info">
              <a>Sigue nuestras redes sociales: </a>
              <a href="https://www.instagram.com/az_works_/"
                ><i class="ti-instagram" aria-hidden="true"></i
              ></a>
              <a href="https://www.facebook.com/alfredo.cruz.90"
                ><i class="ti-facebook"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Area End -->
