<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <img style="height:60px; margin: 0 46%" src="/images/logoTab.png" alt="">
    <p class="m-0 text-center text-white">Copyright &copy; PhotomaticMX 2018</p>
  </div>
  <!-- /.container -->
</footer>
