  <!-- Top Search Form Area -->
  <div class="top-search-area">
    <div
      class="modal fade"
      id="codeModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Close -->
            <button type="button" class="btn close-btn" data-dismiss="modal">
              <i class="ti-close"></i>
            </button>
            <!-- Form -->
            <form method="post" action="/">
              <input
                type="search"
                name="client_code"
                class="form-control"
                placeholder="Ingresa el código que reciviste..."
              />
              <button type="submit">Ver Fotos</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Area Start -->
  <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="alimeNav">
            <!-- Logo -->
            <a class="nav-brand" href="/"
              ><img
                src="assets/img/logo-img/Az-WorksLogo.png"
                style="width: 250px;"
                alt=""
            /></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"
                ><span></span><span></span><span></span
              ></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">
              <!-- Menu Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap">
                  <span class="top"></span><span class="bottom"></span>
                </div>
              </div>
              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/portfolio">Portafolio</a></li>
                  <li><a href="/about">Sobre Nosotros</a></li>
                  <li><a href="/services">Servicios</a></li>
                  <li><a href="/contact">Contacto</a></li>
                </ul>

                <!-- Search Icon -->
                <div
                  class="search-icon"
                  data-toggle="modal"
                  data-target="#codeModal"
                >
                  <i class="ti-camera"> Mis Fotos</i>
                </div>
              </div>
              <!-- Nav End -->
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- Header Area End -->
