<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/img/logo-img/AppIcon.png" />

    <title>Az Works</title>

    <link
      href="https://fonts.googleapis.com/css?family=Muli:400"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Passion+One"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="assets/css/font-awesome.min.css"
    />
    <link type="text/css" rel="stylesheet" href="assets/style-404.css" />
  </head>
  <body>
    <div id="notfound">
      <div class="notfound-bg"></div>
      <div class="notfound">
        <div class="notfound-404"><h1>404</h1></div>
        <h2>Oops! Esta pagina no existe</h2>
        <div class="notfound-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <a href="/">Volver a la pagina Principal</a>
      </div>
    </div>
  </body>
</html>
