<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/img/logo-img/AppIcon.png" />
<link rel="stylesheet" href="assets/style.css" />

<title>Az Works</title>

</head>

  <body>
    <!-- Preloader -->
    <div id="preloader"><div class="loader"></div></div>
    <!-- /Preloader -->
    <!-- Navigation -->
    <% include ./partials/navbar -%>
    <main>
      <%- body -%>
    </main>
    <% include ./partials/footer -%>

    <!-- **** All JS Files ***** -->
  <!-- jQuery 2.2.4 -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Popper -->
  <script src="assets/js/popper.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- All Plugins -->
  <script src="assets/js/alime.bundle.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/instafeed.min.js"></script>
  <!-- Active -->
  <script src="assets/js/default-assets/active.js"></script>

  </body>

</html>
