<% layout('./admin') -%>
<div class="row">
  <div class="col-lg-12 mt-5">
    <div class="card">
      <div class="card-body">
        <div class="media-body">
          <h4 class="mb-3">Editar Aviso Principal</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5">
    <div class="card card-bordered">
      <form method="post">
        <div style="text-align:center;">
        <img class="card-img-top img-fluid" style="width:50%;" src="<%= data.link %>" alt="image">
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="titulo-input" class="col-form-label">Titulo</label>
            <input class="form-control" type="text" value="<%= data.titulo %>" id="titulo-input" name="titulo">
          </div>
          <div class="form-group">
            <label for="descripcion-input" class="col-form-label">Descripción</label>
            <input class="form-control" type="search" value="<%= data.descripcion %>" id="descripcion-input" name="descripcion">
          </div>
          <div style="text-align:center;">
            <button type="submit" class="btn btn-primary mb-3 col-sm-4 order-4 " >
              <i class="fas fa-save"></i> Actualizar
            </button>
          </div>
        </div>
      </form>
    </div>
</div>
