<%- layout ('layout') -%>

<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Categoria: <%= titulo %></h1>

  <div class="row">
    <%for (var x = 0; x < allFotos.length; x++) {%>
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <img class="card-img-top" src="<%= allFotos[x].url %>" alt="">
      </div>
    </div>
    <% } %>
  </div>
</div>
