<% layout('layout') -%>
<% include ../partials/main-carrousel -%>

<!-- Page Content -->
<div class="container">

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="/images/Erik.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4" style="text-align: center;">PhotomaticMX</h2>
            <p style="text-align: justify;">Ofrecemos servicio de sesiones fotográficas con estilo único y creativo, conserva tus recuerdos para siempre a través de nuestras fotografías. Somos apasionados por la fotografía y las bellas experiencias con nuestros clientes.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- 
  <h3 class="my-4">Ultimos Trabajos</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/categorias">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/categorias">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/categorias">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="/categorias">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
  </div> -->
</div>
<!-- /.container -->
