<!-- <% layout('layout') -%> -->
<!-- <% include ../../partials/main-carrousel -%> -->

<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Pricing
    <small>Subheading</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Paquetes</li>
    <li class="breadcrumb-item disable">Calendarizacion</li>
    <li class="breadcrumb-item">Forma de Pago</li>
    <li class="breadcrumb-item">Resumen</li>
  </ol>

  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h3 class="card-header">Personal</h3>
        <img src="/images/paquetes/paquete-perso.jpg" alt="" style="height: auto; max-width: 100%;">
        <div class="card-body">
          <div class="display-4">$500.00</div>
          <div class="font-italic">paquete por persona</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio anisu i iu aiub au ib aub iu</li>
          <li class="list-group-item" style="text-align:center">
            <a href="/" class="btn btn-primary">Contratar</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card card-outline-primary h-100">
        <h3 class="card-header bg-primary text-white">Love Story</h3>

        <img src="/images/paquetes/paquete-love.jpg" alt="" style="max-height:auto; max-width: 100%;">
        <div class="card-body">
          <div class="display-4">$1000.00</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item" style="text-align:center">
            <a href="/" class="btn btn-primary">Contratar</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h3 class="card-header">Evento</h3>
        <img src="/images/paquetes/paquete-evento.jpg" alt="" style="height: auto; max-width: 100%;">
        <div class="card-body">
          <div class="display-4">$1500.00</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vestibulum at eros</li>
          <li class="list-group-item" style="text-align:center">
            <a href="/" class="btn btn-primary">Contratar</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
