<%- layout ('admin') -%>

<div class="row">
    <div class="col-lg-6 col-md-6 mt-5">
        <div class="card card-bordered">
            <img class="card-img-top img-fluid" src="assets/admin/images/card/portfolio.png" style="height:400px;" alt="image">
            <div class="card-body">
              <div class="text-center">
                <h5 class="mb-3">Portafolio.</h5>
                </div>
                <p class="card-text">
                  Dentro de esta sección podras editar y crear tus propias Categorias
                  para tu portafolio el cual se mostratan en la pagina inicial.
                </p>
                <div class="text-center">
                  <a href="/admin/gallery/portfolio" class="btn btn-dark"><i class="fas fa-images"></i> Entrar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 mt-5">
        <div class="card card-bordered">
            <img class="card-img-top img-fluid" src="assets/admin/images/card/gallery.png" style="height:400px;" alt="image">
            <div class="card-body">
                <div class="text-center">
                  <h5 class="mb-3">Galería.</h5>
                </div>
                <p class="card-text">
                  Aqui podras colocar todas las imagenes de tu portafolio en sus propias
                  categorias donde tu publico podra observar detalladamente.
                </p>
                <div class="text-center">
                  <a href="/admin/gallery/photos" class="btn btn-dark"><i class="fas fa-image"></i> Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>
